.ng-animate {
    transition-duration: 500ms;
    transition-property: opacity;
    transition-timing-function: linear;
}

.animate-this { 
    opacity: 1.0;
}

.animate-this.ng-hide {
    opacity: 0.0;
}